<h2>Login to Novia Notes</h2>
<form method="POST" action="/submit-login-form">
    <label for="username">User name</label>
    <input type="text" id="username" name="username" />
    <label for="password">Password</label>
    <input type="text" id="password" name="password" />
    <input type="submit" />
</form>